.Promocion_Wendys{
    background-image: url('/img/Titulo2.png');
    height: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.Promocion_Wendys::before {
    content: "";
    position: absolute;
    height: 50vh;
    width: 50%;
}

.barratitulo {
    background-color: #ce2029;
}

.barratitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.2rem;
}

.container {
    width: 100rem;
    margin: 0 auto;
    padding: 10px 0 ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

img {
    max-width: 100%;
}

.icono {
    flex-basis: 15%;
}


