.Promocion_Wendys {
  background-image: url("/img/Titulo2.png");
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
}

main{
  padding-top: 1rem;
}

.barratitulo {
  background-color: #ce2029;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: start;
  height: 5rem;
}

.navbar a {
  margin-left: -1000px;
}

img {
  max-width: 100%;
}

.icono {
  flex-basis: 15%;
  
}

.nav-seleccion {
  display: flex;
  justify-content: center;
  padding-top: .8rem;
}

.nav_white {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}

.iniciar_sesion{
  color:white;
  text-decoration: none;
  margin-left:auto;
}

ul{
  list-style: none;

}

.section_header {
  display: flex;
  justify-content: space-between;
}

.link_button {
  background-color: #029cd4;
  color: #fff;
  font-size: 18px;
  padding: 1rem;
  border-radius: 5rem;
  
}

.lista_ofertas{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.titulo{
  color: #111111;
  font-family: '4424-font', sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.lista_productos{
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}

.producto{
  width: 290px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  }

  h4{
    color: black;
    font-weight: bold;
    font-weight: 700;
  }

  .producto_texto{
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
    max-height: 40px;
    line-height: 15px;
  }

  .producto_precio{
    color: #111111;
    font-size: 18.4px;
    padding-top: 10px;
  }

  main{
    background-color: #e3e3e3;
    padding-bottom: 1.5rem;
  }
  body{
    padding: 0px;
    margin: 0px;
  }

  footer{
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
  }

  .lista_footer {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .footer_logo{
    margin-right: 40px;
  }

  .link_footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  .seccion_header{
    display: flex;
  }

  .remove_padding{
    padding: 0px;
  }

  .lista_conocenos{
    padding-right: 10rem;
  }

  .redes_sociales{
    padding-right: 18rem;
  }

  .mi_cuenta{
    padding-right: 8rem;
  }