.Promocion_Wendys {
  background-image: url("/img/Titulo2.png");
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.barratitulo {
  background-color: #ce2029;
}

.barratitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10.2rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: start;
  height: 5rem;
}

img {
  max-width: 100%;
}

.icono {
  flex-basis: 15%;
}

.nav-selection{
  display: flex;
  border-left: white 3px solid;
  
}